# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/free hack to vk 
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf wq 
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
q q1


23 12312312 3123233 1 123123
